[Unit]
Description=WebSocket WS-Signaling Server (Node.js)
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/html/ws-signaling-server-and-test-client/ws-signaling-server.js
WorkingDirectory=/var/www/html/ws-signaling-server-and-test-client
Restart=always
RestartSec=5
User=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
